.Right_seccionLogin-container{

display: flex;
align-items: center;
justify-content: flex-end;

width: 100%;
max-width: 380px;
padding: 2.5rem 0;
cursor: pointer;
}

.Right_seccionLogin_user{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.Right_seccionLogin_user-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;


}
.Right_seccionLogin-user-info-name{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.Right_seccionLogin-user-info-name span{
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 600;
}
.Right_seccionLogin-user-info-name p{
  color: var(--color-info-dark);
  font-size: 14px;

}
.Right_seccionLogin_user-img{
  width: 70px;
  border-radius: 50%;
  overflow: hidden;

}
.Right_seccionLogin_user-info p{
  color: var(--color-info-dark);
  font-size: 14px;
}
.Right_seccionLogin_user-img {
  width: 55px;
 border-radius: 50%;
 overflow: hidden;
}
.Right_seccionLogin_user-img img{
    display: block;
    width: 100%;
}
@media screen and (max-width:1200px) {
  .Right_seccionLogin-container{
 position: absolute;
 top: 1%;
 right: 1.5%;
 background-color: var(--color-white);
 width: 280px;
 height: 70px;
 padding: 0.5rem 1rem;
 border-radius: 1rem;
 box-shadow: var(--box-shadow);
 cursor: pointer;
 transition: all 0.3s ease-in-out;

    }
    .Right_seccionLogin-container:hover{
  box-shadow: none;
    }

    
}

@media screen and (max-width:600px) {

  .Right_seccionLogin-container{
    display: flex;
    flex-direction:column-reverse;
  
    width: 210px;
    height: 70px;
    top: 1.5%;

   
  }
  .Right_seccionLogin-user-info-name{
    display: flex;
    align-items: center;
 
    
  }
  .Right_seccionLogin_user span{
    font-size: 14px;
  }
  .Right_seccionLogin_user p{
    display: none;
  }
  .formGroup-swich{


   width: 100%;

   margin: 0;
   padding: 0;
  }
  .labelSwitch{

   position: absolute;
   right: 0;
   top: 100%;
  }
}