.right_seccion-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
}




@media screen and (max-width:1200px){
    .right_seccion-container-logo-reminders{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
@media screen and (max-width:600px) {

 .right_seccion-container-logo-reminders{

    width: 100%;
   
     flex-direction: column;
     gap: 1rem;
 }
 .right_seccion-container{
  
    margin-left: 0rem;
}


}